# Initially taken from Github's Python gitignore file

checkpoints/
ljs_dataset_folder/
ljs_dataset_folder.bz2

# Django stuff:
*.log
*.pot

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/